<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/grumpgpt.css">

</head>
<body class="bg-dark">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">GrumpGPT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="${user != null} ? ${user.getUsername()} : 'Login'"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="${user == null} ? 'Register'"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="${user != null} ? 'Logout' : ''" th:href="@{/logout}"></a>
            </li>
        </ul>
    </div>
</nav>

<div class="text-white bg-secondary d-flex flex-column mt-5 my-md-auto">
    <div class="mx-auto w-100 p-3 my-5 h-100 text-white d-flex justify-content-center align-items-center text-left">
        <div class="w-75">
            <div class="py-2 d-flex justify-content-between">
                <div>
                    <h3 th:text="${blog.title}"></h3>
                    <p><span th:text="${blog.author_id}"></span> | <span th:text="${blog.timestamp}"></span></p>
                </div>
                <a class="btn btn-dark h-50" th:if="${user != null && user.isAdmin()}">Edit</a>
            </div>
            <div id="typewriter" class="pb-3"></div>
            <div class="pb-3" id="content" th:text="${blog.content}">

            </div>
            <a class="btn btn-dark" th:if="${user != null && user.isAdmin()}">Delete</a>
            <!--            <a th:unless="${user == null}"></a>-->
        </div>
    </div>
    <div class="mx-auto w-100 p-3 text-white bg-dark d-flex justify-content-center align-items-center text-left">
        <div class="w-75">
            <div class="mx-auto">
                <h3 class="pb-2">Comments</h3>

                <!-- ################################################# -->
                <form th:each="comment, stats: ${comments}" th>
                    <p>
                        <span th:text="${'#' + stats.count}"></span>
                        <span th:text="${'User#' + comment.author_id}"></span>:
                        <span th:text="${comment.content}"></span>
                        <a class="btn btn-secondary ml-2" th:if="${user.getId.equals(comment.author_id)}">Delete</a>
                    </p>
                </form>
                <!-- ################################################ -->

                <form>
                    <div class="form-group">
                        <input type="text" class="form-control w-100 bg-secondary" style="color: white" id="comment"
                               placeholder="Share your thoughts..." th:if="${user != null}">
                        <!--                        <input th:unless="${user == null}"></input>-->
                    </div>
                    <button type="submit" class="btn btn-secondary" th:if="${user != null}">Submit</button>
                    <a class="btn" th:if="${user != null}">Delete</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>