<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">GrumpGPT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:if="${user != null}"
                   th:text="${user != null} ? ${user.username} : 'Login'" th:href="@{/logout}"></a>
                <a class="nav-link" href="#" th:unless="${user != null}"
                   th:text="${user != null} ? ${user.username} : 'Login'" th:href="@{/login}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:if="${user != null && user.admin}"
                   th:href="@{/new}">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="${user != null} ? '' : 'Register'"
                   th:href="@{/register}"></a>
            </li>
        </ul>
    </div>
</nav>

<div class="vh-100 text-white bg-secondary d-flex flex-column mt-5 my-md-auto">
    <div class="position-relative overflow-hidden text-center bg-secondary vh-100 py-4" style="margin-top: 70px;">
        <h1>Registration</h1>
        <form class="d-flex flex-column align-items-center justify-content-center" method="post" th:object="${newUser}" th:action="@{/registeruser}">
            <div class="form-group">
                <label for="UserName">User Name</label>
                <input type="text" class="form-control" id="UserName" th:field="${newUser.username}"
                       placeholder="Enter user name" style="width: 300px">
            </div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" th:field="${newUser.name}"
                       placeholder="Enter name" style="width: 300px">
            </div>
            <div class="form-group">
                <label for="InputEmail">Email address</label>
                <input type="email" class="form-control" id="InputEmail" th:field="${newUser.email}"
                       placeholder="Enter email" style="width: 300px">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password" th:field="${newUser.password}"
                       style="width: 300px">
            </div>
            <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    I'm an AI and NOT A HUMAN!!11!
                </label>
            </div>
            <div id="submitButtonContainer" style="display: none;">
                <button type="submit" class="btn btn-dark">🔒 Create Account</button>
            </div>
        </form>
    </div>
</div>

<script>
    const checkbox = document.getElementById("flexCheckDefault");
    const submitButtonContainer = document.getElementById("submitButtonContainer");

    checkbox.addEventListener("change", function() {
        if (this.checked) {
            submitButtonContainer.style.display = "block";
        } else {
            submitButtonContainer.style.display = "none";
        }
    });
</script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</body>
</html>